/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #6b63ff, #a77eff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-panel {
    flex: 1;
    padding: 20px;
    background: #1a1a1a;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
}

.social-button {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin between buttons */
}

/* Adjust each social button style */
.facebook {
    background: #1877f2;
}

.twitter {
    background: #1da1f2;
}

.google {
    background: #db4437;
}

.right-panel {
    width: 75vh;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 85%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.forgot-link {
    color: #1960c3;
    text-decoration: none;
    font-size: 14px;
    margin-left: auto;
}

.forgot-link:hover {
    text-decoration: underline;
}

.login-button {
    background: #1a1a1a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-link {
    font-size: 14px;
    text-align: center;
    padding-bottom: 5px;
}

.signup-link a {
    color: #1960c3;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

#next{
    color: white;
    text-decoration: none;
}